html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    display: block;
  }

  /* 弹窗样式 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

.popup-content {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 按钮样式 */
#startButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#score{
  height: 400px; /* 设置容器的高度 */
  overflow-y: auto; /* 如果内容溢出，显示垂直滚动条 */
}

.info-container h1{
  color: black;
  display: inline;
  font-size:15px;
  margin-right: 10px; /* 可选：增加一些右侧间距 */
}
.info-container h2 {
    display: inline;
    font-size:15px;
    color:blue
}